<h2>会員詳細</h2>
<%= %>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th></th>
    </tr>
    <tr>
      <th>氏名</th>
      <th></th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th></th>
    </tr>
    <tr>
      <th>住所</th>
      <th></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th></th>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!--link_toするやつたち-->
      <td>編集する</td>
      <td>注文一覧を見る</td>
    </tr>
  </tbody>
</table>